.chatList {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70px;
  cursor: pointer;
  gap: 0.5rem;
  transition: background-color 300ms;
}

.chatList:hover {
  background-color: rgb(206, 199, 199);
}

.image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.image,
.chatInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chatInfo {
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.chatInfo p,
.chatInfo h3 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.chatInfo h3 {
  color: purple;
  font-weight: 500;
}

.chatList:last-child {
  border-bottom: none;
}

.chatList h3 {
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .chatInfo {
    display: none;
  }

  .image {
    flex: 1;
  }
}
