.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.gridContainer {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #fff;
  height: 90%;
  width: 70%;
}

.col1 {
  background: rgb(238, 234, 234);
}

.headerLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  height: 70px;
}

.icon {
  font-size: 1rem !important;
}

.headerButtons {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .headerIcons {
    display: none;
  }

  .headerLeft {
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .heading {
    text-align: center;
    text-transform: uppercase;
    color: #660779;
  }

  .dashboard {
    height: 80vh;
  }
}
