.li {
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.message {
  background: linear-gradient(13deg, #c7ceff 25%, #f4f4f4 75%);
  border-radius: 0 45px 45px 45px;
  padding: 0.25rem 0;
  max-width: 60%;
  align-self: flex-start;
}

.myMessage {
  background: linear-gradient(13deg, #f4f4f4 25%, #efbff3 75%);
  align-self: flex-end;
  position: relative;
  border-radius: 45px 45px 0 45px;
}

.content {
  padding: 0 2rem;
  font-size: 14px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 12px;
  text-transform: capitalize;
  gap: 0.5rem;
  color: rgb(107, 97, 97);
}

.username {
  color: rgb(238, 104, 126);
}

.time {
  font-style: italic;
}

@media (max-width: 768px) {
  .message {
    background: linear-gradient(13deg, #c7ceff 25%, #f4f4f4 75%);
    border-radius: 45px 45px 45px 45px;
    padding: 0.25rem 0;
    max-width: 100%;
    align-self: flex-start;
  }

  .myMessage {
    background: linear-gradient(13deg, #f4f4f4 25%, #efbff3 75%);
    max-width: 100%;
    align-self: flex-start;
    position: relative;
    border-radius: 45px 45px 45px 45px;
  }
}
